.weather-day {
    width: 200px;
}

#searchbox {
    margin-top: 200px;
}

.history-btn:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.history-btn:active {
    background-color: rgb(224, 240, 255);
}